.record-table {
    &_title {
        text-align: center;
    }
    &_centre {
        text-align: center;
        justify-content: center;
    }
}

table {
    width: 100%;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}
