@import '../../app.component.scss';

.record-table {
    &_container {
        @include flex-col;
        align-items: center;
        overflow-x: scroll;
    }
    &_title {
        text-align: center;
    }
    &_centre {
        text-align: center;
        justify-content: center;
    }
}

table {
    width: 100%;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}
