<main class="home_container">
    <mat-divider class="divider"></mat-divider>
    <app-info></app-info>
    <mat-divider class="divider"></mat-divider>
    <app-world-stats
        *ngIf="statistics?.worldStats"
        [worldStats]="statistics.worldStats"
        [lastUpdated]="statistics.lastUpdated"
    ></app-world-stats>
    <mat-divider class="divider"></mat-divider>
    <app-record-table
        *ngIf="statistics?.byCountry"
        title="by country"
        [columnsToDisplay]="['country', 'confirmed', 'deaths', 'recovered', 'updated']"
        [records]="statistics.byCountry"
    ></app-record-table>
    <mat-divider class="divider"></mat-divider>
    <app-record-table
        *ngIf="statistics?.byRegion"
        title="by region"
        [columnsToDisplay]="['country', 'province', 'confirmed', 'deaths', 'recovered', 'updated']"
        [records]="statistics.byRegion"
    ></app-record-table>
    <mat-divider class="divider"></mat-divider>
</main>
